/* responsive ( small-device) */
@media screen and (max-width: 600px) {

    header {
        margin: 0;
        width: auto;
    }

    #nav-container {
        flex-direction: column;
        width: auto;
        margin: 0 auto;
    }

    .menu-bar ul {
        flex-direction: column;
        align-items: center;
        width: auto;
        margin-top: 20px;
        gap: 10px;
    }

    .banner-text-container .banner-title {
        font-size: 40px;
        font-weight: 600;
    }
    #banner-container .banner-text-container .banner-description{
        margin: 0;
        text-align: center;
        margin-top: 25px;
    }

    footer .text-container{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 80px;
        margin-bottom: 25px;
    }
    footer .text-container ul{
        margin-top: 20px;
    }
}

/* responsive large device (laptop, desktop or more) */

@media screen and (min-width: 992px) {}